WpfApp1/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MyWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetBuySellRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBuySellRates" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBuySellRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBuySellRatesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IService1_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="IService1_GetBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFunds_InputMessage">
    <wsdl:part name="parameters" element="tns:AddFunds" />
  </wsdl:message>
  <wsdl:message name="IService1_AddFunds_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddFundsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_BuyCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:BuyCurrency" />
  </wsdl:message>
  <wsdl:message name="IService1_BuyCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SellCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:SellCurrency" />
  </wsdl:message>
  <wsdl:message name="IService1_SellCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:SellCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserCurrencies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCurrencies" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUserCurrencies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserCurrenciesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetBuySellRates">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBuySellRates" message="tns:IService1_GetBuySellRates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBuySellRatesResponse" message="tns:IService1_GetBuySellRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterUser" message="tns:IService1_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterUserResponse" message="tns:IService1_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoginUser" message="tns:IService1_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginUserResponse" message="tns:IService1_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetBalance" message="tns:IService1_GetBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetBalanceResponse" message="tns:IService1_GetBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddFunds">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddFunds" message="tns:IService1_AddFunds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddFundsResponse" message="tns:IService1_AddFunds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuyCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/BuyCurrency" message="tns:IService1_BuyCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/BuyCurrencyResponse" message="tns:IService1_BuyCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SellCurrency">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SellCurrency" message="tns:IService1_SellCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SellCurrencyResponse" message="tns:IService1_SellCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserCurrencies">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUserCurrencies" message="tns:IService1_GetUserCurrencies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUserCurrenciesResponse" message="tns:IService1_GetUserCurrencies_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBuySellRates">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBuySellRates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IService1/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/IService1/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddFunds">
      <soap:operation soapAction="http://tempuri.org/IService1/AddFunds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuyCurrency">
      <soap:operation soapAction="http://tempuri.org/IService1/BuyCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellCurrency">
      <soap:operation soapAction="http://tempuri.org/IService1/SellCurrency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserCurrencies">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUserCurrencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/MyWcfService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>