MyClient/Connected Services/ServiceReference1/MyWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExchangeRateData">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuyRate" type="xs:double" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SellRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExchangeRateData" nillable="true" type="tns:ExchangeRateData" />
</xs:schema>